.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listCocktail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: mintcream;
    /* height: 30%; */
}

p.card-text {
  height: 130px;
  -webkit-text-stroke-width: medium;
    font-size: small;
}


.cocktailList {
  margin-top: 3%;
  margin-left: 2px;
  margin-right: 2px;
}

a.cocktailLink {
  color: wheat;
}

.SpinnerLoading{
  margin-top: 30  px;
  margin-left: auto;
  margin-right: auto;
}

.MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
  margin-left: auto;
  margin-right: auto;
}
.card {
  background-color: mintcream;
}

/* .card {
  height: 30% !important;
} */
.aboutusText{
  
  text-align: justify;
  text-justify: inter-word;
  margin: 20px;

}

p.MuiTypography-root.MuiTypography-body1.MuiTypography-paragraph{
    text-align: justify;
    color: rgba(0, 0, 0, 0.54) !important;
    font-size: 0.875rem !important;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
    font-weight: 400 !important;
    line-height: 1.43 !important;
    letter-spacing: 0.01071em !important;
}
p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorTextSecondary {
  text-align: justify;
}
.MuiPaper-root.MuiCard-root.makeStyles-root-1.MuiPaper-elevation1.MuiPaper-rounded {
  margin-top: 36px;
}
/* a.navlink.nav-link{
  color: black !important;
} */