.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.listCocktail {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* height: 30%; */
}

p.card-text {
  height: 130px;
  -webkit-text-stroke-width: medium;
    font-size: small;
}


.cocktailList {
  margin-top: 3%;
  margin-left: 2px;
  margin-right: 2px;
}

a.cocktailLink {
  color: wheat;
}



/* .card {
  height: 30% !important;
} */
.aboutusText{
  
  text-align: justify;
  text-justify: inter-word;
  margin: 20px;

}